body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: 'Roboto', Helvetica, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

.view {
  padding: 40px 0px;
}

//PAGES
@import './pages/feed.scss';
@import './pages/register.scss';
@import './pages/login.scss';

//COMPOENTS
@import './components/Header.scss';
@import './components/Footer.scss';
@import './components/Post.scss';
